<div class="grid">
    <div class="grid__row">
        <div class="grid__colum-2-4">
            <h3 class="footer__heading">Chăm sốc khách hàng</h3>
            <ul class="footer__list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">F8-Shop Mall</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                </li>
            </ul>
        </div>

        <div class="grid__colum-2-4">
            <h3 class="footer__heading">Giới thiệu</h3>
            <ul class="footer__list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">Giới Thiệu</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">Tuyển Dụng</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">Điều Khoản</a>
                </li>
            </ul>
        </div>

        <div class="grid__colum-2-4">
            <h3 class="footer__heading">Danh mục</h3>
            <ul class="footer__list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fa-brands fa-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fa-brands fa-instagram"></i>
                        Instagram</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fa-brands fa-linkedin"></i>
                        Linkedin</a>
                </li>
            </ul>
        </div>

        <div class="grid__colum-2-4">
            <h3 class="footer__heading">Theo dõi</h3>
            <ul class="footer__list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">F8-Shop Mall</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                </li>
            </ul>
        </div>

        <div class="grid__colum-2-4">
            <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
            <div class="footer__download">
                <img src="../../src/public/img/qr_code.png" alt="" class="footer__download-qr">
                <div class="footer__download-apps">
                    <a href="" class="footer__download-app-link">

                        <img src="../../src/public/img/ggplay.png" alt="" class="footer__download-app-img">
                    </a>
                    <a href="" class="footer__download-app-link">
                        
                        <img src="../../src/public/img/qr_code.png" alt="" class="footer__download-app-img">
                    </a>
                </div>
            </div>

        </div>

    </div>
    
</div>
<div class="footer__bottom">
    <div class="grid">
        <p class="footer__text">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
    </div>
</div>

<!-- Login -->
<div class="login modal">
    <div class="login-container modal-container" style="border-radius: 8px;">
        <div class="close_login modal_login" style="border-top-right-radius: 8px;">
            <i class="fa-solid fa-xmark close_design"></i>
        </div>
        <img src="../../src/public/img/ninMart.jpg" alt="logo" class="img-fluid" style="border-top-left-radius: 8px;">
        <form action="/login" method="post" name="frm_login">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label size_lable">
                    <i class="fa-regular fa-envelope"></i>
                    Email
                </label>
                <input type="email" class="form-control size_input size_place" id="formGroupExampleInput" placeholder="Nhập email" name="email">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label size_lable">
                    <i class="fa-solid fa-lock"></i>
                    Password
                </label>
                    <input type="password" class="form-control size_input size_place" id="formGroupExampleInput2" placeholder="Nhập password" name="pass">
                    <i class="eye_pass fa-solid fa-eye-slash" ></i>   
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn_login" style="box-shadow: 8px 8px 4px 0px darkgrey;">Đăng Nhập</button>
        </form>
    </div>
</div>

<!--Thông báo  -->

